//main: main.less, out: main.css
* {
	box-sizing: border-box;
}
html {
	body {
		display: flex;
		justify-content: center;
		#wrap {
			width: 360px;
			height: 740px;
			background-image: url("img/uvic-wallpaper.png");
			background-size: cover;
			background-position: center center;
			>* {
				margin: 0;
			}
		}
	}
}
header, footer {
	width: 100%;
	border: 2px solid red;
}
header { height: 10%; }
footer { height:  5%; }
main {
	.tile-wrap {
		// display: table;
		height: 85%;
		width: 100%;
		border-spacing: 20px;
		.row {
			// display: table-row;
			display: flex;
			height: ~"calc(20% - 10px)";
			.cell {
				// display: table-cell;
				width: ~"calc(50% - 10px)";
				margin: 5px;
				border: 10px dashed gray;
				border-radius: 10px;
				font-size: 98px;
				font-weight: 900;
				color: gray;
				text-align: center;
			}
			#cell-news {
				// column-span: all;
				
				li.ui-tabs-tab {
					font-size: 10pt;
					max-width: 33%;
					padding-left: 5px;
					padding-right: 5px;
					margin: 0;
					a {
						padding:0;
					}
				}
				div {
					padding: 5px;
					background-color: transparent;
					ul {
						margin: 0;
						padding: 0;
						list-style-type: none;
					}
				}
			}
		}
	}
	.popup-tiles, .popup-settings {
		display: none;
	}
}