* {
  box-sizing: border-box;
}
html body {
  display: flex;
  justify-content: center;
}
html body #wrap {
  width: 360px;
  height: 740px;
  background-image: url("img/uvic-wallpaper.png");
  background-size: cover;
}
html body #wrap > * {
  margin: 0;
}
header,
footer {
  width: 100%;
  border: 2px solid red;
}
header {
  height: 10%;
}
footer {
  height: 5%;
}
main .tile-wrap {
  display: table;
  height: 85%;
  width: 100%;
  border-spacing: 20px;
}
main .tile-wrap .row {
  display: table-row;
}
main .tile-wrap .row .cell {
  display: table-cell;
  border: 10px dashed gray;
  border-radius: 10px;
  font-size: 98px;
  font-weight: 900;
  color: gray;
  text-align: center;
}
main .tile-selector,
main .settings {
  display: none;
}
